h1{
      color: darkslategray;
      text-align: center;
}

.menu{
    overflow: hidden;
    border-collapse: collapse;
    padding: 0%;
    background-color: rgb(221, 221, 221);
}

.menu a{
    color: black;
    font-size: 1.2444444445550618em;
    float: left;
    padding: 1.2444444445550618em;
    text-align: center;
    text-decoration: none;
    opacity: 1;
}

.menu a:hover{
    background-color: rgb(177, 159, 159);
    color: green;
}

  body{
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin: 0%;
  }
  header h1{
      margin-top: 0%;
      background-color:rgb(194, 192, 192);
  }
  .gallery_images{
        margin-left: 33em;
        margin-top: 6em;
  }
  #idIza {
        margin-left:12em;
        width: 4.977777778220247em;
        height: 4.977777778220247em;
  }

  #idNaprijed{
        width: 4.977777778220247em;
        height: 4.977777778220247em;
  }
  #idGallery{
    width: 34.222222225264204em;
    height: 28.000000002488893em;
  }

  .ytMusicPlayerClass {
    margin-left: 20%;
    margin-top: 6%;
  }